html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

main.hidden, section.hidden {
    display: none;
}

#navPiece {
    background-color: #6c5ce7;
    color: whitesmoke;
}

#theFoot {
    background-color: #6c5ce7;
    color: whitesmoke;
    text-align: center;
    padding: 20px 0px;
    margin-top:50%;
}

#brand-link {
    color: whitesmoke;
    margin-left: 5%;
}

#theBod {
    font-family: 'Mandali', sans-serif;
    color: grey;
    background-color: rgb(224, 224, 224);
}

#dashBtn,#settingsBtn {
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
    border-radius: 0;
}

#dashBtn:hover,#settingsBtn:hover,.cryptoBtn:hover {
    background-color: #b2bec3;
    color: whitesmoke !important;
}

.cryptoBtn-2:hover {
    border: 1px solid grey;
}

#dashTab,#cryptoTab {
    background-color: whitesmoke;
    margin-top: 1em;
    padding:0;
}

#allCrypts {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#plusSign {
    height:15px;
    margin-bottom:5px;
    margin-left:50px;
}

.logButton {
    background: #6c5ce7;
    color: white;
    border: 2px solid #00b894; 
}

.logButton:hover {
    background: white;
    color: #6c5ce7;
}

.inside-style {
    border-radius: 10%;
    background-color: whitesmoke;
    color: grey;
    font-size: 25px;
    font-weight: 600;
    padding: 0px 5px;
}

ul {
    list-style-type: none;
}

button:focus {
    outline: 0;
}

a {
    color: grey;
}

a:hover {
    color: grey;
    text-decoration: none;
}   

.headBtn {
    border-right:solid;
    border-color: grey;
    border-width: 1px;
    background-color:white;
}

.cryptoBtn {
    padding: 10px !important;
    margin: 0 !important;
    border-radius: 0;
}

.cryptoBtn-2 {
    padding: 10px !important;
    margin: 0 !important;
    border-radius: 0;
    width:15%
}

.addBtn {
    padding:0px 5px;
    margin-bottom: 8px;
    margin-left: 20px;
}

.addBtn:hover {
    background-color: #6c5ce7;
    color: whitesmoke !important;
}

.btnCoin {
    height: 200px;
    padding: 10px;
    margin-bottom:30px;
    border-radius: 10%;
    background-color: #00b894;
    color: white !important;
    min-width: 225px;
    border:none;
    outline: none;
    opacity: .9;
}

.btnCoin:hover {
    opacity: 1.0;
    transition: .3s;
    cursor: pointer;
}

.BTC-Btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

.BTC-Btn:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.returnOver:hover {
    cursor: pointer;
}

.fa-cog {
    color: #00b894 !important;
}

.bg-green{
    background-color: #00b894;
    color: whitesmoke !important;
}
/*********************************/
/****** Landing-Page specific ****/
/*********************************/

#landBod {
    font-family: 'Mandali', sans-serif;
    color: grey;
    background-color: #74b9ff;
}

#landHead {
    color: white;
    height: auto;
    justify-content: center;
    width: 100%;
}

#landHead h1 {
    font-size: 64px;
}

.container-flex { 
    position:relative; 
}

.container-flex video {
    position:relative;
    z-index:0;
    width: 100%;
}

.overlay {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.landWhite {
    background: whitesmoke;
    color: black;
    min-height: 600px;
    max-height:700px;
    padding:12%;
}

.landGreen {
    color: white;
    min-height: 600px;
    max-height:700px;
    padding:40px;
}

.hrSmall {
    min-width: 200px;
    max-width: 600px;
}

/******** Coverr Graphic ********/
@media screen and (min-width: 1920px) {
    video {
        width: 100vw;
        /* position:absolute; */
        object-fit: contain;
    }
}

/*********************************/
/****** Login-Page specific ******/
/*********************************/

#logBod {
    background-color: #e0e0e0;
}

#loginBox {
    font-family: 'Mandali', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100%;
}

#loginBox2 {
    min-width: 300px !important;
}

#loginBox h1, label {
    color: #00b894;
}

#loginBox h1 {
    font-size: 65px;
    font-weight: 100 !important;
    margin-bottom: 50px;
}

#modalCustom {
    background: #b2bec3;
}

.form-customization {
    height: 60px;
    font-size: 18px;
    background: whitesmoke !important;
}

.form-btn-customization, .form-modal-customization {
    width: 50%;
    background: #00b894;
    border:none;
    margin-top: 0px !important;
    color: whitesmoke;
    padding: 10px 0px;
}

.form-modal-customization {
    width:100%;
}

.form-btn-customization:hover, .form-modal-customization:hover {
    background: #6c5ce7;
}


