html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#navPiece {
    background-color: rgb(122, 122, 1);
    color: whitesmoke;
}

#brand-link {
    color: whitesmoke;
    margin-left: 5%;
}

#theBod {
    font-family: 'Mandali', sans-serif;
    color: grey;
    background-color: rgb(224, 224, 224);
}

#dashBtn,#settingsBtn {
    background-color: whitesmoke;
    padding: 10px;
    margin: 0;
    border-radius: 0;
}

#dashBtn:hover,#settingsBtn:hover,.cryptoBtn:hover {
    background-color: steelblue;
    color: whitesmoke !important;
}

.cryptoBtn-2:hover {
    border: 1px solid grey;
}

#dashTab,#cryptoTab {
    background-color: whitesmoke;
    margin-top: 1em;
    padding:0;
}

#allCrypts {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}

#plusSign {
    height:20px
}

ul {
    list-style-type: none;
}

a {
    color: grey;
}

a:hover {
    color: grey;
    text-decoration: none;
}   

.headBtn {
    border-right:solid;
    border-color: grey;
    border-width: 1px;
    background-color:white;
}

.cryptoBtn {
    padding: 10px !important;
    margin: 0 !important;
    border-radius: 0;
}

.cryptoBtn-2 {
    padding: 10px !important;
    margin: 0 !important;
    border-radius: 0;
    width:15%
}

