#navPiece {
    background-color: rgb(122, 122, 1);
    color: whitesmoke;
}

#brand-link {
    color: whitesmoke;
}

#theBod {
    font-family: 'Mandali', sans-serif;
    color: grey;
    background-color: rgb(224, 224, 224);
}

ul {
    list-style-type: none;
}

a {
    color: grey;
}

a:hover {
    color: grey;
    text-decoration: none;
}

.headBtn {
    border-right:solid;
    border-color: grey;
    border-width: 1px;
    background-color:white;
}